@import "tailwindcss";

@theme {
  --color-brand-blue: #0ea5e9;
  --color-brand-dark: #0f172a;
  --color-brand-green: #22c55e;
}

@layer base {
  html {
    scroll-behavior: smooth;
  }
  
  body {
    @apply bg-brand-dark text-white antialiased;
  }
}

@layer utilities {
  .text-gradient {
    @apply bg-gradient-to-r from-brand-blue to-brand-green bg-clip-text text-transparent;
  }
}